.DS_Store
.idea

*/resource/
*/*.site
*/build/
*/preview/
*/*.zip
*.zip
*.sh
*/**/*.psd
node_modules
*/node_modules
*/*/*.mp4

/.idea
*.class

/target/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#idea files
.idea/
*.iml
overlays/
jxl.log
autopush.js